<ul>
    <li class="nav_level1">@Html.ActionLink("Home", "index", "home")</li>
    <li class="nav_level1">@Html.ActionLink("Über Uns", "about", "home")</li>
    <li class="nav_level1">@Html.ActionLink("Parks", "index", "park")</li>
    @{
        if (Session["loggedInUser"] == null)
        {
            <li class="nav_level1">@Html.ActionLink("Login", "Login", "User")</li>
            <li class="nav_level1">@Html.ActionLink("Registration", "Registration", "User")</li>
        }
        if (Session["loggedInUser"] != null)
        {
            if (Session["IsAdmin"].ToString() == "1") {
                    <li class="nav_level1">@Html.ActionLink("Admin", "index", "admin")</li>
                    <li class="nav_level1">@Html.ActionLink("alle Benutzer", "users", "admin")</li>
            }
            <button onclick="location.href='@Url.Action("Logout", "Home")'">Logout</button>
        }
    }
</ul>
