<<<<<<< HEAD
﻿<ul>
    <li class="nav_level1">@Html.ActionLink("Home", "index", "home")</li>
    <li class="nav_level1">@Html.ActionLink("Über Uns", "about", "home")</li>
    <li class="nav_level1">@Html.ActionLink("Parks", "index", "park")</li>
    @{
        if (Session["loggedInUser"] == null)
        {
            <li class="nav_level1">@Html.ActionLink("Login", "Login", "User")</li>
            <li class="nav_level1">@Html.ActionLink("Registration", "Registration", "User")</li>
        }
        if (Session["loggedInUser"] != null)
        {
            <li>
                <button onclick="logouts()">Logout</button>
            </li>
        }
    }
</ul>

 <script type="text/javascript">
    function logouts() {
        '@Session["loggedInUser"]' = null;
        location.reload(true);
    }
 </script>
=======
﻿<ul>
    <li class="nav_level1">@Html.ActionLink("Home", "index", "home")</li>
    <li class="nav_level1">@Html.ActionLink("Über Uns", "about", "home")</li>
    <li class="nav_level1">@Html.ActionLink("Parks", "index", "park")</li>
    @{
        if (Session["loggedInUser"] == null)
        {
            <li class="nav_level1">@Html.ActionLink("Login", "Login", "User")</li>
            <li class="nav_level1">@Html.ActionLink("Registration", "Registration", "User")</li>
        }
        if (Session["loggedInUser"] != null)
        {
            <li>
                <button onclick="logouts()">Logout</button>
            </li>
        }
    }
</ul>

<script>
    function logouts() {
        @Session["loggedInUser"] == null;
    }
</script>
>>>>>>> a1a8a34384247fdead62eab081ef9f3218435b01
