@model List<Projekt.Models.UserScripts.User>

@using Projekt.Models.UserScripts

@{
    ViewBag.Title = "User";
}

<h2>Alle registrierten Benutzer</h2>

@if ((Model != null) && (Model.Count > 0))
{

    <table>
        <thead>
            <tr>
                <td colspan="7">Registrierte Benutzer</td>
                <td>UserID</td>
                <td>Vorname</td>
                <td>Nachname</td>
                <td>Geschlecht</td>
                <td>Geburtsdatum</td>
                <td>Benutzername</td>
                <td>Admin</td>
                <td>löschen</td>
                <td>update</td>
            </tr>
        </thead>
        <tbody>
            @foreach (User u in Model)
            {
                <tr>
                    <td>@u.UserId</td>
                    <td>@u.Name</td>
                    <td>@u.Lastname</td>
                    <td>@u.Gender</td>
                    <td>@u.Birthday.ToLongDateString()</td>
                    <td>@u.isAdmin</td>
                    <td>@u.EMail</td>
                    <td>@u.Username</td>
                    <td>
             
                        <form method="post" action="/admin/delete/@u.UserId">
                            <input type="submit" value="löschen" />
                        </form>

                    </td>
                    <td>update</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8"></td>
            </tr>
        </tfoot>


    </table>


}
