@model Projekt.Models.ParkViewModel
@{
    ViewBag.Title = "ShowOnePark";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Park.Name</h2>
<div class="container">
    <h2>Images</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            @for (int a = 1; a < Model.DI.GetFiles().Length; a++)
            {
                <li data-target="#myCarousel" data-slide-to="@a"></li>

            }
        </ol>
        <div class="carousel-inner">
            @{var firstimgpath = "../Content/Media/Images/" + @Model.Park.Name + "/" + @Model.FI[0].Name; }
            <div class="item active">
                <img src="@firstimgpath" style="width:100%;" />
            </div>
            @for (int i = 1; i < Model.DI.GetFiles().Length; i++)
            {
                var path = "../Content/Media/Images/" + @Model.Park.Name + "/" + @Model.FI[i].Name;
                <div class="item">
                    <img src="@path" alt="@Model.FI[i].Name" style="width:100%;" />
                </div>
            }
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<br />
<p>@Model.Park.Description</p>
<br />
<table class="tg">
    <tr>
        <th class="datahead">Parkname</th>
        <th class="datahead">Length</th>
        <th class="datahead">Rails</th>
        <th class="datahead">Jumps</th>
        <th class="datahead">Cableways</th>
        <th class="datahead">Location</th>
        <th class="datahead">Status</th>
    </tr>
    @{
        var Length = "";
        if (@Model.Park.Length == -1)
        {
            Length = "Not Specified!";
        }
        else { Length = @Model.Park.Length.ToString() + "m"; }
        var Rails = "";
        if (@Model.Park.Length == -1)
        {
            Rails = "Not Specified!";
        }
        else { Rails = @Model.Park.Rails.ToString(); }
        var Jumps = "";
        if (@Model.Park.Length == -1)
        {
            Jumps = "Not Specified!";
        }
        else { Jumps = @Model.Park.Jumps.ToString(); }
        var Cableways = "";
        if (@Model.Park.Length == -1)
        {
            Cableways = "Not Specified!";
        }
        else { Cableways = @Model.Park.Cableways.ToString(); }
        var Status = "Open";
        if (@Model.Park.Open == 0)
        {
            Status = "Closed";
        }
    }
    <tr>
        <td class="data">@Model.Park.Name</td>
        <td class="data">@Length</td>
        <td class="data">@Rails</td>
        <td class="data">@Jumps</td>
        <td class="data">@Cableways</td>
        <td class="data">@Model.Park.Location</td>
        <td class="data">@Status</td>
    </tr>
</table>

@{
    if (@Session["loggedInUser"] != null)
    {
        using (Html.BeginForm())
        {
            <p>Write an Comment:</p>
            @Html.TextAreaFor(p => p.NewComment, new { cols = 40, rows = 10 })
            <br />
            <input type="submit" value="Comment" />
        }
    }
}
<table>
    <tr>
        <td style="padding-right: 400px; text-decoration:solid">Comment</td>
        <td style="text-decoration: solid">Username</td>
        <td style="padding-right: 100px"></td>
    </tr>
@for (int i = 0; i < Model.Park.Comments.Count; i++)
{
    if (Session["Username"] != null)
    {
        if (Session["Username"].ToString() == Model.Park.Comments[i].Username)
        {
            <tr>
            <td>
                <p id="CommentToEdit">@Model.Park.Comments[i].Comment</p>
            </td>
            <td>
                <p>@Model.Park.Comments[i].Username</p>
            </td>
            <td>
                <button id="EditButton">Edit Comment</button>
            </td>
            <td>
                @{
                    int? Commentid = Model.Park.Comments[i].Commentid;
                }
                <form method="post" action="/Park/DeleteComment/@Commentid">
                    <input type="submit" value="Delete Comment" />
                </form>
            </td>
         </tr>
        }
        else {
         <tr>
            <td>
                <p>@Model.Park.Comments[i].Comment</p>
            </td>
            <td>
                <p>@Model.Park.Comments[i].Username</p>
            </td>
         </tr>
        }
    }
    else
    {
         <tr>
            <td>
                <p>@Model.Park.Comments[i].Comment</p>
            </td>
            <td>
                <p>@Model.Park.Comments[i].Username</p>
            </td>
         </tr>
    }
}
    </table>
<br />
<form>
    <input type="button" value="Back" onclick="history.back()">
</form>
